<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.cofile.sbimgshop.codegroups.CodeGroupMapper">
    <sql id="searchCondition">
        <where>
            <if test="condition.groupCode != null and condition.groupCode != ''">
                AND group_code LIKE CONCAT('%', #{condition.groupCode}, '%')
            </if>
            <if test="condition.groupName != null and condition.groupName != ''">
                AND group_name LIKE CONCAT('%', #{condition.groupName}, '%')
            </if>
            <if test="condition.startDate != null">
                AND created_at >= #{condition.startDate}
            </if>
            <if test="condition.endDate != null">
                AND created_at &lt;= #{condition.endDate}
            </if>
            <if test="condition.searchKeyword != null and condition.searchKeyword != ''">
                AND (group_code LIKE CONCAT('%', #{condition.searchKeyword}, '%')
                OR group_name LIKE CONCAT('%', #{condition.searchKeyword}, '%'))
            </if>
            <if test="condition.groupCodes != null and condition.groupCodes.size() > 0">
                AND group_code IN
                <foreach collection="condition.groupCodes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
        </where>
    </sql>

    <sql id="sortCondition">
        <if test="condition != null and condition.sortField != null and condition.sortDirection != null">
            <choose>
                <when test="condition.sortField == 'group_code'">ORDER BY group_code</when>
                <when test="condition.sortField == 'group_name'">ORDER BY group_name</when>
                <when test="condition.sortField == 'created_at'">ORDER BY created_at</when>
                <otherwise>ORDER BY group_code</otherwise>
            </choose>
            <choose>
                <when test="condition.sortDirection == 'ASC'">ASC</when>
                <otherwise>DESC</otherwise>
            </choose>
        </if>
    </sql>

    <select id="findByCondition" resultType="kr.co.cofile.sbimgshop.codegroups.CodeGroupDTO">
        SELECT * FROM code_group
        <include refid="searchCondition"/>
        <!-- SQL 인젝션 취약점 해결 -->
        <!--if test="condition.sortField != null and condition.sortDirection != null">
            ORDER BY ${condition.sortField} ${condition.sortDirection}
        </if-->
        <include refid="sortCondition"/>
        LIMIT #{offset}, #{size}
    </select>
</mapper>